Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

Ans :

def is the keword used for creat function.

In [1]:
def odd_numbers_list():
    
    l =[]
    
    for i in range(1 , 26):
        
        if i % 2!= 0:
            
            l.append(i)
            
    
    return l

odd_numbers_list()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

Ans :

*args : *args is used for to take multiple or n number arguments in function . There is no any limitation of taking arguments in function when we use * args.
    
** kwargs : **kwargs is used for to take multiple or n number arguments in the form of key and value pair in function.There is no any limitation of taking arguments(key and value pair) in function when we use ** kwargs

In [2]:
def test(*args):
    
    return args

test(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
def test1(**kwargs):
    
    return kwargs

test1(A ='Excellent',B ='Best',C ='Good',D ='Satisfactory',E ='Disatisfactory')

{'A': 'Excellent',
 'B': 'Best',
 'C': 'Good',
 'D': 'Satisfactory',
 'E': 'Disatisfactory'}

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20].

Ans :
    
    Iterator is It allows efficient access of elements of sequence one at a time.
    
    Iterator is to iterate over iterable objects in python like list , tuple , set , dictionary
    
    There are two methods used to initialise iterator object.
    
    1.iter():
        
        Iter is the method which is used for initialise iterator and returns iterator object.
        
    2.next():
        
        next is the method is return next value for the iterable.

Iter():

In [12]:
def test4(l):
    
    for i in range(len(l)):
        
        print(l[i])
        
        if i == 4:
            
            break
            
l =[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

test4(l)

2
4
6
8
10

next():

In [33]:
def generator():
    
    yield 1
    yield 2
    yield 3
    
x = generator()

next(x)
next(x)
next(x)

3

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

Ans:

Generator is the normal function in python. It is defined with def keyword. 

Generator is the generate sequence of values.

It has keyword called 'Yield'.

Yield is the keyword who returns the value as like return keyword

next() is also method to iterate the values.

In [43]:
def Generator_1():
    
    yield 'Pyhon'
    
    yield 'Data Science'
    
    yield 'Machine Learning'
    
    yield 'Deep Learning'
    
    yield 'NLP'
    
    yield 'Computer Vision'
    
    yield 'MLops'
    
    
x = Generator_1()

next(x)
next(x)
next(x)
next(x)
next(x)
next(x)
next(x)

'MLops'

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

Ans :

In [57]:
def generator_prime():
    
    n = 1001
    
    for i in range(2, n):
        
        for j in range(2 ,i):
            
            if i % j == 0 :
                
                break
                
        else:
            
            yield i
            
    
y = generator_prime()

[next(y) for i in range(1 , 21)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

Ans :

In [63]:
def fibonacci():
    
    a , b = 0 , 1
    
    i = 0
    
    while i < 12 :
        
        print(a)
        
        c = a + b 
        
        a = b
        b = c
        
        i = i + 1
        
fibonacci()

0
1
1
2
3
5
8
13
21
34
55
89

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.
Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Ans :

In [70]:
s = 'pwskills'

[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

OR

In [73]:
[i for i in 'pwskills']

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

In [102]:
def palindrome_number(n):
    
    temp = n
    
    rev = 0
    
    while n > 0 :
        
        digit = n % 10 
        
        rev = rev * 10 + digit 
        
        n = n // 10
        
        
    if temp == rev :
        
        print('Yes palindrome')
        
    else:
        print('Not palindrome')
n = int(input())
palindrome_number(n)

121
Yes palindrome

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

Ans :

In [106]:
l = [i for i in range(1 , 101)]

In [109]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [108]:
[j for j in l if j % 2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]