# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans :

MongoDB is the database is based on non relational document based model. This is called NOSQL database.

It is differ than relational databases like oracle , Mysql , Microsoft SQL.

Non relational database means Non tabular databases and store data diffrently than relational databases.

Non relational databases come in a variety of types based on their data model. 

The main types are document, key-value, wide-column, and graph.

To store data in document similar to json.

MongoDB is good choice when data is documentric and does not fit well into schema of relational database.

# Q2. State and Explain the features of MongoDB.

Ans :

MongoDB is an open-source document-oriented database that is designed to store a large scale of data 

and also allows you to work with that data very efficiently. It is categorized under the NoSQL database 

because the storage and retrieval of data in the MongoDB are not in the form of tables. 

The MongoDB database is developed and managed by MongoDB.

Inc under SSPL and initially released in February 2009. 

It also provides official driver support for all the popular languages like C, C++ and .Net, Go, Java, Node.js, Perl, 

PHP, Python, Motor, Ruby, Scala, Swift, Mongoid. So, that you can create an application using any of these languages. 

Nowadays there are so many companies that used MongoDB like Facebook, Nokia, eBay, Adobe, Google, etc. 

to store their large amount of data. 



## Features :

1.Schema-less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size.

2.Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

3.Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4.Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

Ans :

In [19]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\pritam\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\pritam\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pymongo

In [35]:
client = pymongo.MongoClient("mongodb+srv://pritam:pritam@cluster0.2evqgas.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [36]:
db

Database(MongoClient(host=['ac-e4s2p4u-shard-00-01.2evqgas.mongodb.net:27017', 'ac-e4s2p4u-shard-00-00.2evqgas.mongodb.net:27017', 'ac-e4s2p4u-shard-00-02.2evqgas.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-11k9gg-shard-0', tls=True), 'test')

In [37]:
db =  client['pwskills']

# pwskills_1 is the database

In [38]:
col1_pwskills = db['my_record'] 

# my_record_1 is the collection.
# coll_pwskills is the collection name

# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

Ans :

In [39]:
data = {"name" : "parth" , 
        "class" :"data science masters " ,
        "time" : "flexi"}

In [40]:
col1_pwskills.insert_one(data)

In [41]:
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [42]:
col1_pwskills.insert_many(data2)

In [44]:
for i in col1_pwskills.find():
    
    print(i)

{'_id': ObjectId('63fa119664aa375ed0ab631f'), 'name': 'pritam', 'class': 'Data Science Masters', 'time': 'flexi'}
{'_id': ObjectId('63fa146664aa375ed0ab6320'), 'email': 'sardepritam@123', 'mobile_no:': 980764643, 'address': 'Bangalore'}
{'_id': ObjectId('63fa166564aa375ed0ab6321'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fa166564aa375ed0ab6322'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fa166564aa375ed0ab6323'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fa166564aa375ed0ab6324'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fa166564aa375ed0ab6325'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fa166564aa375ed0ab6326'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fa166564aa375ed0ab6327'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fa166564aa375ed0ab6328'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fa166564aa375ed0ab6329'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fa166564aa375ed0ab632a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fa166564aa375ed0ab632b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fa166564aa375ed0ab632c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fa16be64aa375ed0ab632d'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63fa175364aa375ed0ab632e'), 'companyName': 'pwskils', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fa175364aa375ed0ab632f'), 'companyName': 'pwskils', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fa175364aa375ed0ab6330'), 'companyName': 'pwskils', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskils', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskils', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskils', 'Faculty': 'PQR'}
{'_id': ObjectId('63fb13b31b10f2034aa54411'), 'name': 'parth', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fb14411b10f2034aa54412'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fb14411b10f2034aa54413'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fb14411b10f2034aa54414'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fb14411b10f2034aa54415'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fb14411b10f2034aa54416'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fb14411b10f2034aa54417'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fb14411b10f2034aa54418'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fb14411b10f2034aa54419'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fb14411b10f2034aa5441a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fb14411b10f2034aa5441b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fb14411b10f2034aa5441c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fb14411b10f2034aa5441d'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [45]:
col1_pwskills.find_one()

{'_id': ObjectId('63fa119664aa375ed0ab631f'),
 'name': 'pritam',
 'class': 'Data Science Masters',
 'time': 'flexi'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans :

In Mongodb when we inserted document. 

after we want to see documents in the jupyter notebook.

That time we use find(). 

basically , find() is use to retrive data from documets.

In [47]:
for i in col1_pwskills.find():
    
    print(i)

{'_id': ObjectId('63fa119664aa375ed0ab631f'), 'name': 'pritam', 'class': 'Data Science Masters', 'time': 'flexi'}
{'_id': ObjectId('63fa146664aa375ed0ab6320'), 'email': 'sardepritam@123', 'mobile_no:': 980764643, 'address': 'Bangalore'}
{'_id': ObjectId('63fa166564aa375ed0ab6321'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fa166564aa375ed0ab6322'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fa166564aa375ed0ab6323'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fa166564aa375ed0ab6324'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fa166564aa375ed0ab6325'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fa166564aa375ed0ab6326'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fa166564aa375ed0ab6327'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fa166564aa375ed0ab6328'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fa166564aa375ed0ab6329'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fa166564aa375ed0ab632a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fa166564aa375ed0ab632b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fa166564aa375ed0ab632c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fa16be64aa375ed0ab632d'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63fa175364aa375ed0ab632e'), 'companyName': 'pwskils', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fa175364aa375ed0ab632f'), 'companyName': 'pwskils', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fa175364aa375ed0ab6330'), 'companyName': 'pwskils', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskils', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskils', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskils', 'Faculty': 'PQR'}
{'_id': ObjectId('63fb13b31b10f2034aa54411'), 'name': 'parth', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fb14411b10f2034aa54412'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fb14411b10f2034aa54413'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fb14411b10f2034aa54414'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fb14411b10f2034aa54415'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fb14411b10f2034aa54416'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fb14411b10f2034aa54417'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fb14411b10f2034aa54418'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fb14411b10f2034aa54419'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fb14411b10f2034aa5441a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fb14411b10f2034aa5441b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fb14411b10f2034aa5441c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fb14411b10f2034aa5441d'), 'name': 'Viola', 'address': 'Sideway 1633'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans:

The sort() method can be used to sort the metadata values for a calculated metadata field.

Database sorting presents data in an ascending or descending order with relation to the data in a specified field. You can carry out sorting operations on various data types such as:

    Strings
    Integers
    Decimal
    Etc.

The main advantage of sorting is that it increases the readability and uniformity of the data, which helps the users grasp the meaning of the data set more effectively.

In MongoDB, sorting is done by the sort() method. The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order.

The sorting order in MongoDB is defined by either a one (1) or a minus (-1). Here the positive one represents the ascending order, while the negative one represents the descending order.

In [70]:
for i in col1_pwskills.find().sort('name',1):
    
    print(i)

{'_id': ObjectId('63fa146664aa375ed0ab6320'), 'email': 'sardepritam@123', 'mobile_no:': 980764643, 'address': 'Bangalore'}
{'_id': ObjectId('63fa175364aa375ed0ab632e'), 'companyName': 'pwskils', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63fa175364aa375ed0ab632f'), 'companyName': 'pwskils', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63fa175364aa375ed0ab6330'), 'companyName': 'pwskils', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskils', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskils', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskils', 'Faculty': 'PQR'}
{'_id': ObjectId('63fa166564aa375ed0ab6321'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fb14411b10f2034aa54412'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63fa166564aa375ed0ab6329'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fb14411b10f2034aa5441a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63fa166564aa375ed0ab6325'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fb14411b10f2034aa54416'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63fa166564aa375ed0ab632b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fb14411b10f2034aa5441c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63fa166564aa375ed0ab6322'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fb14411b10f2034aa54413'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63fa166564aa375ed0ab6323'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fb14411b10f2034aa54414'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63fa166564aa375ed0ab6326'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fb14411b10f2034aa54417'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63fa166564aa375ed0ab6324'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fb14411b10f2034aa54415'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63fa166564aa375ed0ab6327'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fb14411b10f2034aa54418'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63fa166564aa375ed0ab6328'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fb14411b10f2034aa54419'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63fa166564aa375ed0ab632c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fb14411b10f2034aa5441d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63fa166564aa375ed0ab632a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fb14411b10f2034aa5441b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63fa16be64aa375ed0ab632d'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63fb13b31b10f2034aa54411'), 'name': 'parth', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63fa119664aa375ed0ab631f'), 'name': 'pritam', 'class': 'Data Science Masters', 'time': 'flexi'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans :

delete_one :
    
    delete one is used for to delete one perticular record or specific record that you want.

In [72]:
col1_pwskills.delete_one({'name':'chuk'})

delete_many():
    
    delete many is used for to delete more than one records at same time.

In [87]:
query = {'CompanyName':'pwskills'}

In [88]:
col1_pwskills.delete_many(query)
print('Its deleted')

Its deleted

drop :
    
    drop is statment is return True when collection drop successfully . If collection is not exist then it returns False.

In [96]:
client = pymongo.MongoClient("mongodb+srv://pritam:pritam@cluster0.2evqgas.mongodb.net/?retryWrites=true&w=majority")

In [97]:
db =  client['pwskills']

In [98]:
col1_pwskills = db['my_record']

In [ ]:
col1_pwskills.drop()