Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans :

collection of structured information in computer system is called database.

SQL : SQL is structured Query Language. To store data into structured format like Tabular form.

            SQL	                                                                            NOSQL


RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                     Non-relational or distributed database system.


These databases have fixed or static or predefined schema	         They have dynamic schema


These databases are not suited for hierarchical data storage.	     These databases are best suited for hierarchical data 
storage.

These databases are best suited for complex queries	                 These databases are not so good for complex queries


Vertically Scalable                                                  Horizontally scalable


Follows ACID property	                                          Follows CAP(consistency,availability,partition tolerance)


Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	          Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans:

DDL : Data Definition lanuage. It is used for desgn the database structure.
    
CREATE : IT is used for to create a table as well as database also
    
    eg: CREATE DATABASE test
        
        CREATE TABLE if not exist test.test_table 
        
        

DROP :  DROP is used for to drop entire structure of table.
    
    eg : DROP test.test_table
        
        
        
ALTER :  ALTER is used for to add , delete and modify column in existing table.
    
         ALTER is also used to add and drop various constraints on an existing table.
        
        
    eg : ALTER TABLE test add Email varchar (30)
        
        

TRUNCATE :  TRUNCATE is used to delete data inside table.but not table.
    
    
    eg : TRUNCATE Table test

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans :

DML : Data Manipulation Language. Access and manipulate data in existing table.
    
    
INSERT : INSERT is used for to insert a data in table.
    
    eg :  INSERT into test.test_table values(10 , 'pritam','sardepritam@123','Data Scientist')
        
        
UPDATE : UPDATE is used for to update and modify existing data into table.
    
    eg : UPDATE test.test_table SET(rank = 1) where name = 'pritam'
        
        
DELETE : DELETE is used for to delete single or multiple existing records.
    
    eg : DELETE test.test_table where name = 'shashank'

Q.3). What is DQL ? Explain SELECT with an example.

Ans:

DQL : 


      Data Query Language. It is used for to retrive data. End user retrive a data by using SELECT according to its requirment.

eg : we want all employee details from employee table


     SELECT * from employee

Q.4).Explain primary key and foreign key.

Ans :

primary key :
    
    primary key is unique and NOT NULL
    
    when primary apply on any column then that column does not contain duplicates.Those column contains only unique records
    
    and it also can not NOT NULL values . primary key is used / apply on single column only.
    
    
    eg : apply primary key on employee number column in employee table . so employee number column is made unique and not null.
        
        CREATE TABLE EMP (emp_no int PRIMARY KEY,
                         emp_name varchar(60),
                         emp_phone_no int,
                         emp_address int)

foreign key :
    
    
    foreign key is column or group of columns in relational database table that provide link between data in two tables.
    
    one or more columns referenced to one or more columns to another table.
    
    
    eg: employee number in employee course  is foreign key to employee number in employee relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
                         host = 'localhost',
                         user = 'abc',
                         password ='password'
                         )

mycursor = mydb.cursor()
mycusror.exceute('write a query')
#mycursor.commit()
mycursor.close()

cursor : It is an object that is used to make the connection for executing SQL queries.
    
execute : execute is used for to execute sql queries by python.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
    

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
    

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
    

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.
    

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.
    

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
    

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.