#### Q1. What is Statistics?

Ans:

Statistics is the science of collecting , organising and analyazing data.

Data : Data is facts or pieces of information.
    
Statistics has two types:
    
    
    1.Descriptive Statistics
    
    2.Infrential Statistics
    
    
    
1.Descriptive Statistics:
    
    
    Descriptive Statistics is consist of organising and summerizing data.
    
    eg : measure central tendency (mean , mode , median)
        
         measure of dispersion (variance ,  std)
    
    
2.Infrential Statistics:
    
    Infrential Statistics is consist of data is measured to form conclusion.
    
    eg : Z test , t test , chi square test

#### Q2. Define the different types of statistics and give an example of when each type might be used.

Ans:

Statistics has two types:

    1.Descriptive Statistics

    2.Infrential Statistics
    
    

1.Descriptive Statistics:

    Descriptive Statistics is consist of organising and summerizing data.

    eg : measure central tendency (mean , mode , median)
        
         eg : average height of students in classroom.

    eg : measure of dispersion (variance ,  std)
            
            


2.Infrential Statistics:

    Infrential Statistics is consist of data is measured to form conclusion.

    eg : Z test , t test , chi square test
        
        
    eg : Exit poll of Election

#### Q3. What are the different types of data and how do they differ from each other? Provide an example of each type of data.

Ans:

Data :
    
    
    Data is facts or pieces of information.
    
    
Data has two types :
    
    
    1.Quantitative Data
    
    2.Qualitative Data / categorical Data
    
    
1.Quantitative Data :
    
    Quantitative Data is numerical data . where we perform operations like addition ,substraction ,multiplication ,division.
    
    Quantitative Data has two types :
        
        1.Discrete Data :
            
            Discrete data contains whole number.
            
            eg : Number of bank accounts , Number of children.
                
                
        2.Continous Data :
            
            Continous data contains any value.
            
            eg : Height , Weight , Tempreature , speed.
                
                
                
                
2.Qualitative Data / Categorical Data :
    
                  Qualitative Data is categorical data.
        
        
        
        
       Qualitative data has two types.
    
    
    
      1.Nominal Data : 
            
            Nominal data is categorical data . 
            
            But this data does not assign rank.
            
            oder does not matter.
            
            
            eg : Gender (M,F)
                
                 Iris data (setosa , versicolor , verginica)
                    
                    
    
    
      2.Ordinal Data :
            
            
            Ordinal data is categorical data.
            
            It has assign rank .
            
            Oder is matter.
            
            Diffrence can not be measured.
            
            
            eg : customer feedback (Best , Good , Bad)

#### Q4. Categorise the following datasets with respect to quantitative and qualitative data types:
#### (i) Grading in exam: A+, A, B+, B, C+, C, D, E
#### (ii) Colour of mangoes: yellow, green, orange, red
#### (iii) Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...]
#### (iv) Number of mangoes exported by a farm: [500, 600, 478, 672, ...]

Ans:

(i) Grading in exam: A+, A, B+, B, C+, C, D, E  : Qualitative data (ordinal data)
        
(ii) Colour of mangoes: yellow, green, orange, red : Qualitative data (Nominal data)
        
(iii) Height data of a class: [178.9, 179, 179.5, 176, 177.2, 178.3, 175.8,...] : Quantitative data (continous data)
        
(iv) Number of mangoes exported by a farm: [500, 600, 478, 672, ...] : Quantitative data (Discrete data)

#### Q5. Explain the concept of levels of measurement and give an example of a variable for each level.

Ans:

Levels of measurement :
    
    1.Nominal Scale Data :
        
        1.It does not assign rank.
        
        2.Oder not matter.
        
        eg : i.Gender (M,F)
            
             ii.Iris data (setosa , versicolor , verginica)
                
                
    2.Ordinal Scale Data:
        
        1.It assign rank.
        
        2.Oder matter.
        
        3.Diffrence can not be measure.
        
        eg : customer feedback (Best , Good , Bad)
            
            
    3.Interval Scale Data :
        
        1.It assign rank
        
        2.oder matter.
        
        3.Diffrence can be measure.
        
        4.ratio can not be measure.
        
        eg :  Tempreature in celcius
            
            
              [30,40,50,60 ,12,23]
                
                Ascending order : 12 ,23, 30,40,50 , 60
                    
                    
                Diffrence : 40 -30 = 10
                    
                            50 - 30  = 20
                        
                ratio :  60 : 30 = 2:1    
                            
                            But here its meaningless ratio . we are not able to clearly say 60(degree) celcius is 2(twice)
                            
                            than 30(degree cecius).Its meaningless or there is not any output from it.
                            
                    
    4.Ratio Scale Data :
        
        
        1.Assign rank
        
        2.Oder matter
        
        3.Diffrence can be measured
        
        4.ratio can be measured
        
        eg : students marks in classroom
            
             30,60,50,40,80
                
                
                Ascending order : 30,40,50,60,80
                    
                Diffrence : 60 - 30 = 30 , 80 - 40 = 40
                    
                ratio : 60 : 30 = 2 :1
                            
                            
                            60 marks student take 2(twice) marks than 30 stidents. There is meaningful ratio.
                            
                            
                            
        eg : IQ level of students.

#### Q6. Why is it important to understand the level of measurement when analyzing data? Provide an example to illustrate your answer.

Ans:

It is important to understand the level of measurement of variables in research, 

because the level of measurement determines the type of statistical analysis that can be conducted, and, 

therefore, the type of conclusions that can be drawn from the research.

Learning about the four levels of measurement allows statisticians and analysts 

to more efficiently plan for research and present their findings.

And as a Data Scientist we need to understand nature and behaviour data is most important andcrucial parameter.


eg :

4.Ratio Scale Data :


    1.Assign rank

    2.Oder matter

    3.Diffrence can be measured

    4.ratio can be measured

    eg : students marks in classroom

         30,60,50,40,80


            Ascending order : 30,40,50,60,80

            Diffrence : 60 - 30 = 30 , 80 - 40 = 40

            ratio : 60 : 30 = 2 :1


                        60 marks student take 2(twice) marks than 30 stidents. There is meaningful ratio.



    eg : IQ level of students.

#### Q7. How nominal data type is different from ordinal data type.

Ans:

Both are types of Qualitative data.

Measure diffrence is rank and oder.

nominal has not any renk assign and oder is not there.

ordinal is having rank and order is important.


1.Nominal Scale Data :

    1.It does not assign rank.

    2.Oder not matter.

    eg : i.Gender (M,F)

         ii.Iris data (setosa , versicolor , verginica)


2.Ordinal Scale Data:

    1.It assign rank.

    2.Oder matter.

    3.Diffrence can not be measure.

    eg : customer feedback (Best , Good , Bad)

Q8. Which type of plot can be used to display data in terms of range?

Ans:

A histogram is a graphical representation of data points organized into user-specified ranges.

#### Q9. Describe the difference between descriptive and inferential statistics. Give an example of each type of statistics and explain how they are used.

Ans:

Statistics has two types:

    1.Descriptive Statistics

    2.Infrential Statistics
    
    

1.Descriptive Statistics:

    Descriptive Statistics is consist of organising and summerizing data.

    eg : measure central tendency (mean , mode , median)
        
         eg : average height of students in classroom.

    eg : measure of dispersion (variance ,  std)


         

2.Infrential Statistics:

    Infrential Statistics is consist of data is measured to form conclusion.

    eg : Z test , t test , chi square test


    eg : Exit poll of Election

#### Q10. What are some common measures of central tendency and variability used in statistics? Explain how each measure can be used to describe a dataset.

Ans:

measure of central tendency :
    
    1.Mean : Mean is the central tendency . where we calculate average of that data.
        
        eg : when we fill null values with central tendency that time we use mean .Its not mandetory.Its depends on data.
        
    2.median : median is the central tendency . It is the median value of perticular data.
        
        eg :when we fill null values with central tendency that time we use median where outliers are present .
        
        Its not mandetory.Its depends on data.
        
    3.mode : Mode is central tendency . Its max frequent element in perticular distribution.
        
        eg :when we fill null values with central tendency that time we use mode in categorical column only .
        
        Its not mandetory.Its depends on data.

In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import statistics as stat

In [4]:
df = sns.load_dataset('iris')

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

#### Mean

In [6]:
np.mean(df['sepal_length'])

5.843333333333335

In [7]:
np.mean(df['petal_length'])

3.7580000000000027

In [8]:
np.mean(df['sepal_width'])

3.057333333333334

In [9]:
np.mean(df['petal_width'])

1.199333333333334

In [10]:
np.mean(df)

C:\Users\Pritam\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3417: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

#### Median

In [12]:
np.median(df['sepal_length'])

5.8

In [13]:
np.median(df['sepal_width'])

3.0

In [14]:
np.median(df['petal_length'])

4.35

In [15]:
np.median(df['petal_width'])

1.3

#### Mode

In [21]:
stat.mode(df['species'])

'setosa'