# 1.problem statement

### make a prediction model on car price with multiple regression.

# 2.import the libraries

In [537]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 3.Data collection

df = pd.read_csv('E:/ML_Datasets/CarPrice_Assignment.csv')

In [538]:
df

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0

In [539]:
df.columns

Index(['car_ID', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [540]:
#from sklearn.preprocessing import LabelEncoder
#label = LabelEncoder()
#df['CarName'] = label.fit_transform(df['CarName'])
#df['fueltype'] = label.fit_transform(df['fueltype'])
#df['enginetype'] = label.fit_transform(df['enginetype'])
#df['cylindernumber'] = label.fit_transform(df['cylindernumber'])

In [541]:
df.head(2)

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0

In [542]:
 df.drop(['CarName','aspiration','carbody','drivewheel','enginelocation','fuelsystem','fueltype','doornumber','enginetype','cylindernumber'],axis=1,inplace=True)

KeyError: "['CarName' 'aspiration' 'carbody' 'drivewheel' 'enginelocation'\n 'fuelsystem' 'fueltype' 'doornumber' 'enginetype' 'cylindernumber'] not found in axis"

In [ ]:
df.head(2)

### data into features and target variables

In [543]:
x = df.iloc[:,:-1]
y=pd.DataFrame(df.iloc[:,-1])

In [544]:
x.head(2)

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27

In [545]:
y.head(2)

     price
0  13495.0
1  16500.0

### check null values

In [546]:
df.isnull().sum()

car_ID              0
symboling           0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginesize          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

### check data it is in standard format or not

In [547]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

# 4. data split into train test

In [548]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state = 42)

In [549]:
print('x_train shape is :',x_train.shape)
print('x_test shape is :',x_test.shape)
print('y_train shape is :',y_train.shape)
print('y_test shape is :',y_test.shape)

x_train shape is : (164, 15)
x_test shape is : (41, 15)
y_train shape is : (164, 1)
y_test shape is : (41, 1)

# 5.import the model

In [550]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train , y_train)

LinearRegression()

### training model

In [551]:
training_score = model.score(x_train , y_train)

### training model accuracy

In [552]:
training_score

0.8651078895307076

### testing model

In [553]:
testing_score = model.score(x_test,y_test)

### testing model accuracy

In [554]:
testing_score

0.8516657126363222

###  prediction output

In [555]:
y_pred = model.predict(x_test)

In [556]:
y_pred = pd.DataFrame(y_pred)

### prediction output

In [557]:
y_pred.head()

              0
0  28136.616625
1  17897.054208
2  10501.648695
3  14894.104451
4  25867.189206

### actual output

In [558]:
y.head()

     price
0  13495.0
1  16500.0
2  16500.0
3  13950.0
4  17450.0

## Performance Evaluation metrics

### mean squared_error

In [559]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)

In [560]:
mse

11710105.078807322

###  Root Mean Squared Error

In [561]:
np.sqrt(mse)

3422.003079894482

### R square

In [562]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test , y_pred)

In [563]:
r2

0.8516657126363222

### Mean Absolute Error

In [564]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test,y_pred)

In [565]:
MAE

2411.0939624096054

###  Adjusted R squared

In [566]:
adjusted_r2=1 - (1-model.score(x, y))*(len(y)-1)/(len(y)-x.shape[1]-1)

In [567]:
adjusted_r2

0.8508212469499185